.layui-layer-ico {
	background: url(icon.png) no-repeat 
}


.layui-layer-setwin a {
	margin: 4px 0 0 0px;

}



.layui-layer-setwin .layui-layer-min:hover cite {
	background-color: #2D93CA
}

.layui-layer-setwin .layui-layer-max {
	background-position: -32px -40px
}

.layui-layer-setwin .layui-layer-max:hover {
	background-position: -16px -40px
}

.layui-layer-setwin .layui-layer-maxmin {
	background-position: -65px -40px
}

.layui-layer-setwin .layui-layer-maxmin:hover {
	background-position: -49px -40px
}

.layui-layer-setwin .layui-layer-close1 {
    background-position: -80px -40px;
	cursor: pointer
}

.layui-layer-setwin .layui-layer-close1:hover {
	opacity: .7
}

.layui-layer-setwin .layui-layer-close2 {
	position: absolute;
	right: -28px;
	top: -28px;
	width: 30px;
	height: 30px;
	margin-left: 0;
	background-position: -149px -31px;
	*right: -18px;
	_display: none
}

.layui-layer-ico1 {
	background-position: -30px 0
}

.layui-layer-ico2 {
	background-position: -60px 0
}

.layui-layer-ico3 {
	background-position: -90px 0
}

.layui-layer-ico4 {
	background-position: -120px 0
}

.layui-layer-ico5 {
	background-position: -150px 0
}

.layui-layer-ico6 {
	background-position: -180px 0
}



.my-skin[type=dialog] {

}
.my-skin.layui-layer {
}
.my-skin .layui-layer-content{
    padding: 1rem 1rem 1.5rem 1rem;
    box-shadow: 0 8px 0 0 #bebebe;
    border-radius: 4px;
    background: #fff;
}
.my-skin .layui-layer-title {
    overflow: hidden;
    background-color: #F8F8F8;
    color: #3A559F;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 2px 2px 0 0;
    padding: 0.625rem 3.9375rem 0.625rem 1.25rem;
    border-bottom: 5px solid #3A559F;
    height: unset;
    line-height: unset;
    text-overflow: inherit;
    white-space: inherit;
}







